<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/passwordAss.css">
</head>
<body>
    <img src="/amazon.jpg" alt="error">
    <div class="main">
        <h1>Password assistance</h1>
        <div class="enter-email">

            <p>Enter the email address or mobile phone number</p>
            <p>associated with your Amazon account.</p>
        </div>
        <form action="/verification" method="post">
            <label for="num-email">Email &nbsp;or &nbsp;mobile &nbsp;phone number</label>
            <input type="text" id="num-email" name="number_for_otp">
            <input type="submit" value="Continue">

        </form>
    </div>
    <div class="num-change">
        <div id="h3">
            <h3>Has your email address or mobile phone</h3>
            <h3>number changed?</h3>

        </div>
       
     <p id="if-you">if you no longer use the e-mail address associated with</p>
     <span>
         <p>your Amazon account , you may contact </p> <a href="service">Customer Service</a>

     </span>
        <p id="for-help">for help restoring access to your account.</p>
    </div>
    <hr>
    <footer>
        <a href="jh">Conditions of Use</a>
        <a href="jh">Privacy Notice</a>
        <a href="kkj">Help</a>
        <% const date = new Date() %>
        <% const current_year = date.getFullYear() %>
        <p> 1996-<%= current_year %> ,&nbsp; Amazon.com, Inc. &nbsp;or its affilates</p>
    </footer>
</body>
</html>